<%- include('../partials/header') %>

<form id="new-ticket-form" action="/flights/<%= flight._id %>/tickets" method="POST">
    <label for="seat">Seat</label>
    <input type="text" name="seat" required pattern="[A-F][1-9]\d">
    <label for="price">Price</label>
    <input type="number" name="price" min="0" required>
    <button type="submit">Add Ticket</button>
</form>


<%- include('../partials/footer') %>